.contact-container{
    position:fixed;
    color:white;
    mix-blend-mode: difference;
    display:none;

    width: 100vw;
    height: 100vh;
}
  
.available-end-text{
    grid-area: 4 / 2 / 5 / 12;
    text-align: center;

    @media screen and (min-width: 320px) {
        font-size:3rem;
    }
    @media screen and (min-width: 720px) {
        font-size:6rem;
    }
}

.email-container{
    display: flex;
    justify-content: center;
    align-items: center;
    // grid-area: 4 / 3 / 6 / 11;
    grid-area: 5 / 2 / 6 / 12;
}

.email-color{
    border-radius: 999vw;
    width:min-content;
    height:min-content;
    padding:1rem 2rem;
    border:1px solid $color;
    transition: border 0.2s ease-out;
    &:hover{
        border:0.5rem solid $color;
    }
}

.email{
    color:$color;
    text-decoration: none;
    font-size:2rem;
}

.socials{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 2rem;
    grid-area: 8 / 8 / 9 / 13;
    margin-right: $margin;
    
}

a:link    { color: $color;
text-decoration: none; }
a:visited { color: $color;
text-decoration: none; }