$margin: 10px;
$column-gutter: 10px;
$row-gutter: 10px;
$color: rgb(250,250,250);
$available-color: #90EE90;









/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

ul {
    list-style: none;
}
