@font-face {
    font-family: "Neue Haas Display Medium";
    src: url('../fonts/NeueHaasDisplayMedium.ttf') format('truetype');
}

@font-face {
    font-family: "Neue Haas Display Bold";
    src: url('../fonts/NeueHaasDisplayBold.ttf') format('truetype');
}

@font-face {
    font-family: "Neue Haas Display Roman";
    src: url('../fonts/NeueHaasDisplayRoman.ttf') format('truetype');
}

@font-face {
    font-family: "Neue Haas Display Light";
    src: url('../fonts/NeueHaasDisplayLight.ttf') format('truetype');
}

@font-face {
    font-family: "Neue Haas Display Thin";
    src: url('../fonts/NeueHaasDisplayThin.ttf') format('truetype');
}

html {
    /* font-family: 'Neue Haas Display', sans-serif; */
    font-family: 'Neue Haas Display Roman';
    font-size: 10px;
}

@media screen and (min-width: 320px) {
  /* Mobile*/
html {
  font-size: 10px;
}
.name{
  font-size: 1rem;
}
}

@media screen and (min-width: 600px) {
 /* Tablets */
html {
  font-size: 10px;
}
}

@media screen and (min-width: 770px) {
 /* Laptops */
html {
  font-size: 10px;
}
}

@media screen and (min-width: 1280px) {
 /* Big Laptop  */
html {
  font-size: 10px;
}
}


@media screen and (min-width: 1920px) {
 /* Projectors or Higher Resolution Screens (Full HD) */
html {
  font-size: 15px;
}
}
@media screen and (min-width: 3840px) {
 /* 4K Displays (Ultra HD) */
html {
  font-size: 15px;
}
}

*,
*:after,
*:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .scroll-container::-webkit-scrollbar {
  display: none;
} */

/* ! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll
html.has-scroll-smooth {
    overflow: hidden; }
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  .has-scroll-smooth body {
    overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap; }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%; }
  
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0; }
    .c-scrollbar:hover {
      transform: scaleX(1.45); }
    .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
      opacity: 1; }
    [data-scroll-direction="horizontal"] .c-scrollbar {
      width: 100%;
      height: 10px;
      top: auto;
      bottom: 0;
      transform: scaleY(1); }
      [data-scroll-direction="horizontal"] .c-scrollbar:hover {
        transform: scaleY(1.3); }
  
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab; }
    .has-scroll-dragging .c-scrollbar_thumb {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
    [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
      right: auto;
      bottom: 0; } */